@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  text-transform: none;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  position: relative;
}

.syntaxhighlighter {
  scrollbar-width: none !important;
}
.syntaxhighlighter::-webkit-scrollbar {
  display: none !important;
}
